# NetBeans specific #
*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/nbactions.xml
*/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.class

*.iml
*/Iproxy Server/Iproxys/nbproject/private/
*/Iproxy Server/Iproxys/build/
*/Iproxy Server/Iproxys/dist/

IproxysFrontend/node_modules
IproxysFrontend/dist
IproxysFrontend/.tmp
IproxysFrontend/.sass-cache
IproxysFrontend/bower_components
IproxysFrontend/.idea


IproxysBackend/.idea
IproxysBackend/out
IproxysBackend/target
IproxysBackend/*.iml
IproxysBackend/classes
IproxysBackend/src/main/java/META-INF/MANIFEST.MF