<div class="mdl-grid mdl-grid--no-spacing user-management dashboard">


    <div class="mdl-cell  mdl-cell--6-col mdl-shadow--2dp line-chart" >
        <div class="mdl-card ">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Monitor de red</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="line-chart__container">
                    <canvas id="line" class="chart chart-line" chart-data="vm.data"
                            chart-labels="vm.labels" chart-legend="true" chart-series="vm.series"
                            chart-click="onClick" chart-options="vm.options">
                    </canvas>

                </div>
            </div>
        </div>
    </div>

    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>