<div class="teal darken-3 z-depth-1" id="darshboardMenu">
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-menu" class="button-collapse show-on-small hide-on-med-and-up white-text"><i class="material-icons">menu</i></a>
    <a href="#" class="brand-logo center show-on-small hide-on-med-and-up white-text" id="selectedMenuText">Configuración</a>


    <ul  class="right  teal darken-3 tabs hide-on-small-and-down" id="desktopMenu" >
      <li class="tab col s3 active"><a href="#configuration" data-sref="/configuration" class="white-text" ng-click="loadState($event)">Configuración</a></li>
      <li class="tab col s3"><a href="#liveMonitor"   data-sref="/liveMonitor" class="white-text" ng-click="loadState($event)">Live Monitor</a></li>
      <li class="tab col s3"><a href="#liveMonitor2" data-sref="/liveMonitor" class="white-text" ng-click="loadState($event)">Firewall Config</a></li>
      <li class="tab col s3"><a href="#configuration2" data-sref="/configuration"  class="white-text" ng-click="loadState($event)">Resource Manager</a></li>
    </ul>

    <ul class="side-nav teal" id="mobile-menu">
    <li class="active"><a href="#" data-desktop-tab="configuration" data-sref="/configuration" class="white-text" ng-click="loadState($event)">Configuración</a></li>
    <li><a href="#"  data-desktop-tab="liveMonitor" data-sref="/liveMonitor" class="white-text" ng-click="loadState($event)">Live Monitor</a></li>
    <li><a href="#" data-desktop-tab="liveMonitor2" data-sref="/liveMonitor" class="white-text" ng-click="loadState($event)">Firewall Config</a></li>
    <li><a href="#" data-desktop-tab="configuration2" data-sref="/configuration"  class="white-text" ng-click="loadState($event)">Resource Manager</a></li>
  </div>
</div>


<div class="container">
  <div ui-view class=""></div>
</div>

<script>

</script>
