<div class="teal darken-1 z-depth-2">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="tabs teal darken-1 ">
          <li class="tab col s3"><a href="#configurationTab" ng-click="loadView('configuration')" class="white-text">Configuración</a></li>
          <li class="tab col s3"><a href="#liveMonitorTab" ng-click="loadView('livemonitor')" class="white-text">Live Monitor</a></li>
          <li class="tab col s3"><a href="#firewallconfigTab" data-target="" class="white-text">Firewall Config</a></li>
          <li class="tab col s3"><a href="#resourcemanagerTab" data-target="" class="white-text">Resource Manager</a></li>
        </ul>
      </div>
      <div id="configurationTab"></div>
      <div id="liveMonitorTab"></div>
      <div id="firewallconfigTab"></div>
      <div id="resourcemanagerTab"></div>

    </div>

  </div>
</div>
<div class="container">
  <div ui-view class=""></div>
</div>

<script>

</script>
