<nav class="teal darken-1 z-depth-2" id="darshboardMenu">
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-menu" class="button-collapse show-on-small hide-on-med-and-up"><i class="material-icons">menu</i></a>
    <a href="#" class="brand-logo center show-on-small hide-on-med-and-up" id="selectedMenuText">Configuración</a>

    <ul class="right hide-on-small-and-down" id="desktopMenu">
      <li class="active"><a href="#" ui-sref=".configuration" class="white-text" ng-click="updateActiveItem($event)">Configuración</a></li>
      <li><a href="#"   ui-sref=".livemonitor" class="white-text" ng-click="updateActiveItem($event)">Live Monitor</a></li>
      <li><a href="#" ui-sref=".livemonitor" class="white-text" ng-click="updateActiveItem($event)">Firewall Config</a></li>
      <li><a href="#" ui-sref=".livemonitor"  class="white-text" ng-click="updateActiveItem($event)">Resource Manager</a></li>
    </ul>
    <ul class="side-nav teal darken-1" id="mobile-menu">
      <li class="active"><a href="#" ui-sref=".configuration" class="white-text" ng-click="updateActiveItem($event)">Configuración</a></li>
      <li><a href="#"   ui-sref=".livemonitor" class="white-text" ng-click="updateActiveItem($event)">Live Monitor</a></li>
      <li><a href="#" ui-sref=".livemonitor" class="white-text" ng-click="updateActiveItem($event)">Firewall Config</a></li>
      <li><a href="#" ui-sref=".livemonitor"  class="white-text" ng-click="updateActiveItem($event)">Resource Manager</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <div ui-view class=""></div>
</div>

<script>

</script>
