<div class="row container" id="loginForm">
  <div class="col l12 m12 s12">
    <div class="card grey lighten-5">
      <form class="form-signin" name="authenticationForm">
        <div class="card-content teal-text">
          <span class="card-title">Log In</span>
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input id="inputEmail" type="email" class="validate" required
                   ng-model="userLoginData.email">
            <label for="inputEmail">Email</label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">vpn_key</i>
            <input id="inputPassword" type="password" class="validate" required
                   ng-model="userLoginData.password">
            <label for="inputPassword">Password</label>
          </div>



        </div>
        <div class="card-action">

          <button class="btn waves-effect waves-light" type="submit" name="action"
                  ng-disabled="authenticationForm.$invalid"  ng-click="doLogIn(userLoginData)">Iniciar Sesión
            <i class="material-icons right">send</i>
          </button>

        </div>
      </form><!-- /form -->

    </div>
  </div>
</div>

