<div class="mdl-grid mdl-grid--no-spacing user-management" ng-cloak="">

    <div class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top ">
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
            <div class="mdl-card ">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">iProxys Live Actions</h2>
                    <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-show="vm.requestInProgress"></div>

                </div>
                <div class="mdl-card__supporting-text">
                    <div class="table-responsive">
                        <table class="mdl-data-table mdl-js-data-table projects-table">
                            <thead>
                            <tr>
                                <!--<th  upgrade-material-checkbox="">-->
                                    <!--<label class="mdl-checkbox mdl-js-checkbox" for="checkbox-all">-->
                                    <!--<input type="checkbox" id="checkbox-all" class="mdl-checkbox__input">-->
                                    <!--</label>-->

                                <!--</th>-->
                                <th class="mdl-data-table__cell--non-numeric">BlockedIP</th>
                                <th class="mdl-data-table__cell--non-numeric">BlockedDomain</th>
                                <th class="mdl-data-table__cell--non-numeric">BlockedOn</th>
                                <th class="mdl-data-table__cell--non-numeric">BlockedPort</th>
                                <th class="mdl-data-table__cell--non-numeric">Identifier</th>
                                <th class="mdl-data-table__cell--non-numeric">Protocol</th>

                            </tr>
                            </thead>
                            <tbody>

                            <!--class="is-selected"  -->
                            <tr ng-repeat="liveAction in vm.liveActions" ng-class="{'highlight':user.highlight}" >
                                <!--<td >-->
                                    <!--<label for="checkbox-{{$index}}" class="mdl-checkbox mdl-js-checkbox">-->
                                        <!--<input type="checkbox" id="checkbox-{{$index}}" class="mdl-checkbox__input">-->
                                        <!--<span class="mdl-checkbox__label"></span>-->
                                    <!--</label>-->

                                <!--</td>-->
                                <td class="mdl-data-table__cell--non-numeric">{{liveAction.blockedIP}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{liveAction.blockedDomain}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{liveAction.blockedOnTimeDate}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{liveAction.blockedPort == 0? "" : liveAction.blockedPort}}</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    <span class="label label--mini {{liveAction.identifier == 0 ? 'background-color--primary' : liveAction.identifier == 1 ? ' background-color--mint' : liveAction.identifier == 2 ? 'background-color--cerulean' : 'background-color--baby-blue'}}">
                                        {{vm.IdentifierNames[liveAction.identifier]}}
                                    </span>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    {{liveAction.protocol == 0 ? "" : liveAction.protocol}}
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect"
                            data-upgraded=",MaterialButton,MaterialRipple"><span
                            class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
                    <button class="mdl-button mdl-cell--hide-desktop mdl-cell--hide-phone mdl-cell--hide-tablet mdl-cell--hide-desktopmdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-shadow--8dp mdl-button--colored "
                            data-upgraded=",MaterialButton,MaterialRipple" ng-click="vm.showUserCreationDialog()">
                        <i class="material-icons mdl-js-ripple-effect" data-upgraded=",MaterialRipple">add</i>
                        <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating"></span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>